*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************
HEADER
**************/

header{
    height: 70px;
}

.logo-img{
    padding: 12px;
}

/**************
MAIN
**************/

main{
    background-color: #F6F8F9;
    text-align: center;
    padding-top: 40px;
}

.box-button{
    height: 110PX;
    width: 1635PX;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    margin: auto;
    border-radius: 10px 10px 0 0;
    border: 2px solid black;
}

.button{
    height: 30px;
    width: 70px;

}