*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************
HEADER
**************/

header{
    height: 70px;
}

.logo-img{
    padding: 12px;
}

/**************
MAIN
**************/

main{
    background-color: #F6F8F9;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;

}

/**************
BUTTON
**************/

.box-button{
    width: 1635PX;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: white;
    margin: auto;
    border-radius: 10px 10px 0 0;
    border: 2px solid #F6F8F9;  
}

.btn{
    padding: 8px 10px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 5px;
}

.btn-primary{
    background-color: #14AAF5;
    border-color: #14AAF5;
}

/**************
LIST
**************/

ul{
    list-style: none;
}

.box-list{
    height: 650px;
    width: 1635px;
    background-color: white;
    margin: auto;
    border-radius: 0 0 10px 10px;
}

.list{
    text-align: left;
    padding-left: 60px;
    padding-top: 35px;
}

.task-container{
    padding-top: 20px;
}

.task{
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    padding: 0 5px;
}

.task-done{
    border-color: green;
    color: green;
}

.task-undone{
    border-color: red;
    color: red;
}

.tag{
    padding: 4px 10px;
    background-color: #09A9ED;
    border-radius: 20px;
    color: white;
}

.tag-goal{
    background-color: #AB5DE6;
}

.tag-recruiting{
    background-color: #2CC6AB;
}

.tag-mobile{
    background-color: #FF9B00;
}

.tag-website{
    background-color: #EC4A9D;
}

.tag-sales{
    background-color: #A3D116;
}
